target/GQS-1.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
target/GQS-1.0-SNAPSHOT-shaded.jar filter=lfs diff=lfs merge=lfs -text
target/original-QGS-1.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
